<body><br>
    <h2 style="color:whitesmoke;">Welcome to Library App</h2>
    <br>
    <br><br><br><br><br><br>
    <div style="background-color: black;">
        <h4>"The only thing that you absolutely have to know, is the location of the library."</h4>
        <h4 style="padding-left: 60%;">-Albert Einstein</h4>
    </div>
    <br>
    <br><br>
    <div>
        <h5>In this Library App, you can view your favourite books, authors and read
            informations regarding them. Users can also add, edit and delete both books and 
            authors. If you don't have an account please create an account right away. 
        </h5>
    </div>
    <div>
        <br><br>
    </div>
</body>
